.container-fluid {
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.page-header {
  text-align: center;
}

.errorMessage {
  color: red;
  font-size: 10px;
}

.gameOver {
  color: red;
}

.petBox {
  border: .5px solid white;
  min-height: 55px;
  padding: 5px;
}

.petPic {
  float: left;
  max-height: 50px;
  max-width: 50px;
  margin-right: 5px;
}

.killPet {
  margin: 10px;
}

#rules {
  display: none;
  background-color: blue;
  color: gold;
  border: .5px solid gold;
  text-align: center;
  max-width: 40vw;
}

.animalGIF {
  max-height: 30vh;
  max-width: 30vw;
  float: right;
  margin-right: 5px;
}